{% block body %}
    {% trans_default_domain 'EMSCoreBundle' -%}
    <!DOCTYPE html>
    <html>
    <head>
    </head>
    <body>
        <p>{{ 'email.command.submissions.export.body.hello'|trans }}</p>
        <p>{{ 'email.command.submissions.export.body.text'|trans }}</p>
        <p>{{ 'email.command.submissions.export.body.greeting'|trans }}</p>
    </body>
    </html>
{% endblock %}
